<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div>
  <%= @user.name %>
</div>

<div>
  <%= @user.email %>
</div>

<div>
  Number of events created by user: <%= @user.events.size %>
</div>

<ul>
  <% @user.events.each do |event| %>
    <li>
      <% if event.location.size.positive? %>
        <div><%= event.location %></div>
      <% else %>
        <div>Empty location</div>
      <% end %>

      <% if event.date %>
        <div><%= event.date %></div>
      <% else %>
        <div>Empty date</div>
      <% end %>

    </li><br>
  <% end %>
</ul>

<div>Past Events</div>
<ul>
<% @user.attended_events.past_events.each do |event| %>
  <li>
    <% if event.location.size.positive? %>
      <div><%= event.location %></div>
    <% else %>
      <div>Empty location</div>
    <% end %>

    <% if event.date %>
      <div><%= event.date %></div>
    <% else %>
      <div>Empty date</div>
    <% end %>
  </li><br>
<% end %>
</ul>

<br>

<div>Today's Events</div>
<ul>
<% @user.attended_events.where(date: Date.today).order(location: :asc).each do |event| %>
  <li>
    <% if event.location.size.positive? %>
      <div><%= event.location %></div>
    <% else %>
      <div>Empty location</div>
    <% end %>

    <% if event.date %>
      <div><%= event.date %></div>
    <% else %>
      <div>Empty date</div>
    <% end %>
  </li><br>
<% end %>
</ul>

<br>

<div>Future Events</div>
<ul>
<% @user.attended_events.future_events.each do |event| %>
  <li>
    <% if event.location.size.positive? %>
      <div><%= event.location %></div>
    <% else %>
      <div>Empty location</div>
    <% end %>

    <% if event.date %>
      <div><%= event.date %></div>
    <% else %>
      <div>Empty date</div>
    <% end %>
  </li><br>
<% end %>
</ul>

<br>

<div>
  Number of events user is attending: <%= @user.attended_events.size %>
</div>
<div>All Events</div>
<ol>
  <% @user.attended_events.order(date: :asc).each do |event| %>
    <li>
      <% if event.location.size.positive? %>
        <div><%= event.location %></div>
      <% else %>
        <div>Empty location</div>
      <% end %>

      <% if event.date %>
        <div><%= event.date %></div>
      <% else %>
        <div>Empty date</div>
      <% end %>
    </li><br>
  <% end %>
</ol>