<% if user_signed_in? %>
  <%= current_user.name %><br />
  <%= current_user.email %><br />
  <%= link_to 'Show user', current_user %><br />
  <%= link_to 'Create New Event', new_event_path %><br />

  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>
<br />


<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>
<% if @events.empty? %>
  <%= 'No events found' %>
<% else%>
  <ul>
    <% @events.each do |event| %>
      <li>
        <div><%= event.date %></div>
        <div><%= event.location %></div>
      </li>
    <% end %>
  </ul>
<% end %>