<div><%= @event.location %></div>
<div><%= @event.date %></div>
<div><%= @event.creator.name %></div>
<div><%= @event.creator.email %></div>

<br>

<div>Current attendees<div>
<ul>
<% @event.attendees.each do |attendee| %>
  <li>
    <div><%= attendee.name %></div>
    <div><%= attendee.email %></div>
  </li>
<% end %>
</ul>

<br>

<% if @event.attendees.include?(current_user) %>
  <div><%= link_to 'Unattend this event', event_users_unattend_event_path({event: @event}) %></div>
<% else %>
  <div><%= link_to 'Attend this event', event_users_attend_event_path({event: @event}) %></div>
<% end %>

<br>

<% if current_user == @event.creator %>
  <%= form_tag event_users_invite_path, method: :get do |form| %>
    <%= select_tag :invite_user, options_for_select(@valid_invitees) %><br>
    <%= hidden_field_tag :event, @event.id %>
    <%= submit_tag 'Invite user' %>
  <% end %>
<% end %>